/* ChampionTierList.css */

.tier-category {
    margin-bottom: 20px;
  }
  
  .tier-category h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #cccccc;
  }
  
  .tier-category-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .champion-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: transparent; /* Removed background color to avoid any dots or borders */
    list-style-type: none; /* Removes any dots or default list styling */
  }
  
  .champion-icon img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .champion-icon.dragging {
    opacity: 0.5;
  }
  
  .item-icon {
    width: 30px; /* Smaller size for items */
    height: 30px;
    margin-right: 5px;
  }
  
  .edit-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .edit-btn:hover {
    background-color: #555;
  }
  
  .edit-preview {
    font-size: 12px;
    color: #888;
  }
  
  .save-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .save-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }